In [ ]:
import pandas as pd  # Importing pandas for data manipulation

# Load CSV File
file_path = 'data/electricity_production_plants/000_ElectricityProductionPlant.csv'  # Replace with the path to your CSV file
df = pd.read_csv(file_path, sep=';')  # Read the CSV file into a DataFrame, handling bad lines and ensuring comma as separator

# Wertetabelle MainCategory laden
main_categories_file_path = 'data/electricity_production_plants/MainCategoryCatalogue.csv'  # Path to the replacement file
main_categories = pd.read_csv(main_categories_file_path, sep=';')

# Annahme: Die Wertetabelle hat zwei Spalten: 'old_value' und 'new_value'
# Erstellen eines Mappings aus der Wertetabelle
main_categories_dict = dict(zip(main_categories['Catalogue_id'], main_categories['de']))

# Ersetzen der Wwerte in der DataFrame-Spalte 'MainCategory' mit den neuen Werten aus der Wertetabelle
df['MainCategory'] = df['MainCategory'].replace(main_categories_dict)

# Display the first few rows of the DataFrame to verify the data
df.head()

,xtf_id,Address,PostCode,Municipality,Canton,Beginning Of Operation,InitialPower,TotalPower,Differenz H zu G\r\n>5% Rot\r\n<5% Gr체n,MainCategory,SubCategory,PlantCategory,_x,_y
0,14727,Schlossstrasse 15,4147,Aesch BL,BL,05.05.2009,14.65,18.81,4.16,maincat_2,subcat_2,plantcat_9,2611936.0,1257011.0
1,14728,Ob der Steig 1,5082,Kaisten,AG,28.10.2011,5.80,5.80,0.00,maincat_2,subcat_2,plantcat_8,2645758.0,1265094.0
2,10164,G채ssli 4,3114,Wichtrach,BE,07.10.2008,3.00,3.00,0.00,maincat_2,subcat_2,plantcat_8,2610547.0,1188979.0
3,10794,Diemtigtalstrasse 46,3753,Oey,BE,27.06.2008,8.40,8.40,0.00,maincat_2,subcat_2,plantcat_8,2610529.0,1167346.0
4,9476,Holzweidstrasse 8,8340,Hinwil,ZH,21.04.2006,4.80,4.80,0.00,maincat_2,subcat_2,plantcat_8,2705863.0,1240553.0